<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik+Moonrocks&display=swap');
    h2{
        width: 100%;
    padding: 0px 10px;
    /* margin-top: 11px; */
    font-size: 100px;
    text-align: center;
    font-family: 'Rubik Moonrocks', cursive;
    color: yellowgreen;
    }
</style>
<header>
    <h2>{{title}}</h2>
</header>